/*
!/config
!/defaultconfigs
!/kubejs
!/resourcepacks
!background.png
!modlist.txt
!.gitignore
/config/jei/world
!/buddingcrystals
config/xaerominimap_entities.json
config/oculus.properties
config/sound_physics_remastered/occlusion.properties
config/sound_physics_remastered/reflectivity.properties
