/*
!/config
!/defaultconfigs
!/kubejs
!/resourcepacks
!background.png
!modlist.txt
!.gitignore
/config/jei/world
!/buddingcrystals
config/sodiumextras-client.toml
config/forgeendertech/Biomes/terralith$volcanic_peaks.cfg
config/forgeendertech/Biomes/ad_astra$martian_wastelands.cfg
config/create-client-1.toml.bak
config/create-client.toml
config/fairylights-common-1.toml.bak
config/lootr-common-1.toml.bak
config/lootr-common.toml
config/oculus.properties
config/xaerominimap_entities.json
config/forgeendertech/Biomes/biomesoplenty$tundra.cfg
config/forgeendertech/Biomes/minecraft$dripstone_caves.cfg
config/jei/ingredient-list-mod-sort-order.ini
config/jei/recipe-category-sort-order.ini
config/sound_physics_remastered/allowed_sounds.properties
config/sound_physics_remastered/occlusion.properties
config/sound_physics_remastered/reflectivity.properties
config/embeddium-fingerprint.json
config/embeddium-options.json
config/oculus.properties
config/xaerominimap_entities.json
config/sound_physics_remastered/occlusion.properties
config/sound_physics_remastered/reflectivity.properties
config/embeddium-fingerprint.json
config/embeddium-options.json
config/oculus.properties
config/xaerominimap_entities.json
config/forgeendertech/Biomes/minecraft$crimson_forest.cfg
config/forgeendertech/Biomes/terralith$ashen_savanna.cfg
config/jei/ingredient-list-mod-sort-order.ini
config/jei/ingredient-list-type-sort-order.ini
config/jei/recipe-category-sort-order.ini
config/sound_physics_remastered/occlusion.properties
config/sound_physics_remastered/reflectivity.properties
config/spark/tmp/spark-3e2add060a2e-profile-data.jfr.tmp
