/*
!/kubejs
!/defaultconfigs
!/config
!background.png
!modlist.txt
!.gitignore
/config/jei/world
config/spark/tmp
config/sodiumextras-client.toml
config/forgeendertech/Biomes/terralith$volcanic_peaks.cfg
config/forgeendertech/Biomes/ad_astra$martian_wastelands.cfg
config/create-client-1.toml.bak
config/create-client.toml
config/fairylights-common-1.toml.bak
config/lootr-common-1.toml.bak
config/lootr-common.toml
config/oculus.properties
config/xaerominimap_entities.json
config/forgeendertech/Biomes/biomesoplenty$tundra.cfg
config/forgeendertech/Biomes/minecraft$dripstone_caves.cfg
config/jei/ingredient-list-mod-sort-order.ini
config/jei/recipe-category-sort-order.ini
config/sound_physics_remastered/allowed_sounds.properties
config/sound_physics_remastered/occlusion.properties
config/sound_physics_remastered/reflectivity.properties
config/embeddium-fingerprint.json
config/embeddium-options.json
config/oculus.properties
config/xaerominimap_entities.json
config/sound_physics_remastered/occlusion.properties
config/sound_physics_remastered/reflectivity.properties
config/embeddium-fingerprint.json
config/embeddium-options.json
config/oculus.properties
config/xaerominimap_entities.json
config/forgeendertech/Biomes/minecraft$crimson_forest.cfg
config/forgeendertech/Biomes/terralith$ashen_savanna.cfg
config/jei/ingredient-list-mod-sort-order.ini
config/jei/ingredient-list-type-sort-order.ini
config/jei/recipe-category-sort-order.ini
config/sound_physics_remastered/occlusion.properties
config/sound_physics_remastered/reflectivity.properties
config/balm-common-1.toml.bak
config/balm-common.toml
config/create_connected-common.toml
config/embeddium-fingerprint.json
config/embeddium-options.json
config/jmi-client.toml
config/oculus.properties
config/supplementaries-common-1.toml.bak
config/supplementaries-common.toml
config/waystones-common-1.toml.bak
config/waystones-common.toml
config/xaerominimap_entities.json
config/ae2/common.json
config/forgeendertech/Biomes/biomesoplenty$maple_woods.cfg
config/forgeendertech/Biomes/biomesoplenty$moor.cfg
config/forgeendertech/Biomes/incendium$volcanic_deltas.cfg
config/forgeendertech/Biomes/minecraft$birch_forest.cfg
config/forgeendertech/Biomes/terralith$cave$infested_caves.cfg
config/forgeendertech/Biomes/terralith$glacial_chasm.cfg
config/forgeendertech/Biomes/terralith$gravel_desert.cfg
config/forgeendertech/Biomes/terralith$warped_mesa.cfg
config/jei/ingredient-list-mod-sort-order.ini
config/jei/ingredient-list-type-sort-order.ini
config/jei/recipe-category-sort-order.ini
config/sound_physics_remastered/allowed_sounds.properties
config/sound_physics_remastered/occlusion.properties
config/sound_physics_remastered/reflectivity.properties
config/balm-common.toml
config/create_connected-common.toml
config/embeddium-fingerprint.json
config/embeddium-options.json
config/oculus.properties
config/supplementaries-common.toml
config/waystones-common.toml
config/xaerominimap_entities.json
config/ae2/common.json
config/jei/ingredient-list-mod-sort-order.ini
config/jei/ingredient-list-type-sort-order.ini
config/jei/recipe-category-sort-order.ini
config/sound_physics_remastered/allowed_sounds.properties
config/sound_physics_remastered/occlusion.properties
config/sound_physics_remastered/reflectivity.properties
